[Desktop Entry]
Comment[es_ES]=Leaf_Light
Name=Leaf_Light
Name[es_ES]=Leaf_Light
X-KDE-PluginInfo-Author=Jomada
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=plasma-desktop
X-KDE-PluginInfo-Email=gicalucejo@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Name=Leaf_Light
X-KDE-PluginInfo-Version=2.5
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
comment=Leaf_Light
